<app-back-bar></app-back-bar>
<form class="flex flex-col gap-4 xs:gap-8" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div
    class="flex gap-4 rounded-lg border border-slate-700 bg-slate-800 p-4 pl-2"
    [ngClass]="{ 'cursor-not-allowed border-gray-900 bg-gray-900': employeeUid }">
    <label for="place_select" class=""> Ruolo </label>
    <select
      id="role_select"
      class="grow cursor-pointer appearance-none rounded-lg bg-transparent text-sm uppercase focus:outline-none focus:ring-0"
      [ngClass]="{ 'cursor-not-allowed': employeeUid }"
      formControlName="role">
      <option
        *ngFor="let item of roles; let i = index"
        [selected]="i === 0"
        [value]="item"
        class="cursor-pointer bg-slate-900 text-slate-200">
        {{ item }}
      </option>
    </select>
  </div>

  <en-input
    [type]="'email'"
    [size]="30"
    [name]="'email'"
    [fc]="'email'"
    [fieldName]="'Email'"
    [placeholder]="'mbackeseck69@live.it'"
    [required]="true"
    [leftRemPadding]="4"></en-input>

  <en-input
    [type]="'text'"
    [name]="'name'"
    [fc]="'name'"
    [fieldName]="'Nome'"
    [placeholder]="'Mbacke'"
    [required]="true"
    [leftRemPadding]="4"></en-input>

  <en-input
    [type]="'text'"
    [name]="'last_name'"
    [fc]="'lastName'"
    [fieldName]="'Cognome'"
    [placeholder]="'Seck'"
    [required]="true"
    [leftRemPadding]="5.8"></en-input>

  <!-- <div class="group relative z-0 w-full">
    <input
      type="text"
      name="name_input"
      id="name_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="name"
      placeholder=" "
      required />
    <label
      for="name_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Password
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div> -->

  <en-input
    [type]="'tel'"
    [pattern]="'[0-9]{10}'"
    [name]="'tel'"
    [fc]="'phone'"
    [fieldName]="'Numero di telefono'"
    [placeholder]="'334 5124799'"
    [required]="true"
    [leftRemPadding]="10.5"></en-input>

  <en-input
    [type]="'text'"
    [name]="'zone'"
    [fc]="'zone'"
    [fieldName]="'Zona'"
    [placeholder]="'Massa Lombarda'"
    [required]="true"
    [leftRemPadding]="4"></en-input>

  <div class="group relative z-0 flex w-full">
    <label class="relative inline-flex cursor-pointer items-center">
      <input type="checkbox" formControlName="isActive" class="peer sr-only" />
      <div
        class="peer h-6 w-11 rounded-full bg-gray-200 after:absolute after:top-[2px] after:left-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-slate-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary-60 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-0"></div>
      <span class="ml-4 text-base text-white">Attivo</span>
    </label>
  </div>

  <div class="mx-auto w-52">
    <en-button
      buttonName="login-button"
      [buttonText]="lblButton"
      buttonType="submit"
      [buttonIsDisabled]="!employeeForm.valid"
      palette="primary"
      [isLoading]="isLoading"></en-button>
  </div>
</form>
