<app-back-bar></app-back-bar>
<form class="flex flex-col gap-12 xs:gap-16" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="group relative z-0 w-full">
    <input
      type="text"
      name="name_input"
      id="name_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="name"
      placeholder=" "
      required />
    <label
      for="name_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Nome
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="text"
      name="last_name_input"
      id="last_name_input"
      class="peer block w-full appearance-none py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0 enabled:bg-transparent disabled:cursor-not-allowed"
      formControlName="lastName"
      placeholder=" "
      required />
    <label
      for="last_name_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Cognome
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="email"
      size="30"
      name="email_input"
      id="email_input"
      class="peer block w-full appearance-none py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0 enabled:bg-transparent disabled:cursor-not-allowed"
      formControlName="email"
      placeholder=" "
      required />
    <label
      for="email_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60 peer-disabled:-translate-y-8">
      Email
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <!-- <div class="group relative z-0 w-full">
    <input
      type="text"
      name="name_input"
      id="name_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="name"
      placeholder=" "
      required />
    <label
      for="name_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Password
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div> -->

  <div class="group relative z-0 w-full">
    <label for="place_select" class="block text-xs text-primary-100 group-active:text-primary-60"> Ruolo </label>
    <select
      id="place_select"
      class="peer block w-full appearance-none py-2.5 px-0 text-sm text-primary-100 focus:border-gray-200 focus:text-primary-60 focus:outline-none focus:ring-0 enabled:bg-transparent disabled:cursor-not-allowed"
      formControlName="role">
      <option
        *ngFor="let item of roles; let i = index"
        [selected]="i === 0"
        [value]="item"
        class="bg-black py-1 text-primary-60 hover:bg-primary-60 hover:text-black">
        {{ item }}
      </option>
    </select>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="tel"
      pattern="[0-9]{10}"
      name="tel_input"
      id="tel_input"
      class="peer block w-full appearance-none py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0 enabled:bg-transparent disabled:cursor-not-allowed"
      formControlName="phone"
      placeholder=" "
      required />
    <label
      for="tel_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Numero di telefono
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="text"
      name="zone_input"
      id="zone_input"
      class="peer block w-full appearance-none py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0 enabled:bg-transparent disabled:cursor-not-allowed"
      formControlName="zone"
      placeholder=" "
      required />
    <label
      for="zone_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Zona
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 flex w-full">
    <label class="relative inline-flex cursor-pointer items-center">
      <input type="checkbox" formControlName="isActive" class="peer sr-only" />
      <div
        class="peer h-6 w-11 rounded-full bg-gray-200 after:absolute after:top-[2px] after:left-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary-60 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-0"></div>
      <span class="ml-4 text-base text-white">Attivo</span>
    </label>
  </div>

  <div class="mx-auto w-52">
    <en-button
      buttonName="login-button"
      [buttonText]="lblButton"
      buttonType="submit"
      [buttonIsDisabled]="!employeeForm.valid"
      palette="primary"
      [isLoading]="isLoading"></en-button>
  </div>
</form>
