.login-slide {
  animation-name: slide-animation;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes slide-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60%);
  }
}
