<app-back-bar></app-back-bar>
<section>
  <button
    type="button"
    class="mb-4 w-full rounded-lg border border-gray-600 bg-gray-800 py-2.5 px-5 text-sm font-medium text-slate-300 active:z-10 active:bg-gray-700 active:text-white active:outline-none active:ring-4 active:ring-gray-700">
    <fa-icon [icon]="filterIcon" class="mr-2"></fa-icon>
    FILTRI
  </button>
  <ul [@staggeredFadeInIncrement]="participations.length" class="flex flex-col divide-y divide-gray-700">
    <en-item-participation
      *ngFor="let item of participations"
      [participation]="item"
      (participationNotActiveEvent)="onDeleteParticipation()"></en-item-participation>
  </ul>
  <div
    *ngIf="canAddClient"
    class="theme-primary fixed left-0 bottom-24 right-0 mx-auto flex h-12 max-w-[48rem] justify-end">
    <div [@fadeInAnimation] class="mr-4">
      <button
        type="button"
        class="rounded-full bg-palette py-3 px-3 text-sm font-medium uppercase text-black text-palette shadow-md transition duration-150 ease-in-out active:scale-90 active:bg-paletteActive active:shadow-lg"
        (click)="goToCreateClient()">
        Aggiungi cliente
      </button>
    </div>
  </div>
</section>
