<div class="p-4">
  <div class="theme-primary fixed left-0 bottom-24 right-0 mx-auto flex h-12 max-w-[48rem] justify-end">
    <div class="mr-4">
      <button
        type="button"
        class="h-12 w-12 rounded-full bg-palette text-palette shadow-md transition duration-150 ease-in-out hover:bg-paletteHover hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-paletteActive active:shadow-lg"
        (click)="goToCreateEvent()">
        <fa-icon [icon]="plusIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
