<section class="flex flex-col items-center gap-4">
  <select
    id="devices_select"
    class="text-smplaceholder-gray-400 block w-full rounded-lg border border-slate-700 bg-slate-800 p-2.5 text-white"
    (change)="onDeviceSelectChange($event)">
    <option value="" [selected]="!currentDevice">Nessuna camera</option>
    <option *ngFor="let device of availableDevices" [value]="device.deviceId">{{ device.label }}</option>
  </select>

  <div #cameraContainer class="scanner-container w-full overflow-hidden rounded-lg">
    <zxing-scanner
      [enable]="enabled"
      [device]="currentDevice"
      [formats]="formatsEnabled"
      (camerasFound)="onCamerasFound($event)"
      (permissionResponse)="onHasPermission($event)"
      (camerasFound)="onCamerasFound($event)"
      (camerasNotFound)="onCamerasNotFound()"
      (scanSuccess)="onScanSuccess($event)">
    </zxing-scanner>
  </div>

  <div #infoContainer class="center hidden aspect-square w-full max-w-3xl flex-col gap-4 rounded-lg bg-slate-800 p-8">
    <fa-icon [icon]="banIcon" class="pb-4 text-8xl text-slate-300"></fa-icon>
    <p class="text-center text-slate-300">{{ lblCameraInfo }}</p>
  </div>

  <div
    *ngIf="participation"
    class="flex w-full flex-col items-center justify-evenly gap-8 overflow-auto rounded-lg p-4 text-center text-white"
    [ngClass]="{
      'bg-red-500': !participation.props.isActive || (participation.props.isScanned && participationAlreadyScanned),
      'bg-emerald-600': participation.props.isActive && !participationAlreadyScanned
    }">
    <fa-icon
      [icon]="participation.props.isActive && !participation.props.isScanned ? checkIcon : exclamationIcon"
      class="text-8xl"></fa-icon>
    <p class="max-w-full text-4xl">
      <span>{{ participation.props.name }}</span>
      <br />
      <span>{{ participation.props.lastName }}</span>
    </p>
    <p class="max-w-full truncate text-2xl">
      <span class="text-sm">Telefono</span>
      <br />
      <span>{{ participation.props.phone }}</span>
    </p>
    <p *ngIf="participation.props.isActive && participation.props.isScanned && participationAlreadyScanned">
      <span class="font-bold underline">Ora entrata</span>
      <br />
      <span>{{ participation.props.scannedAt | date: 'HH:mm:ss' }}</span>
    </p>
    <p *ngIf="participationNoGoodMotivation">
      <span class="font-bold underline">Motivazione</span>
      <br />
      <span>{{ participationNoGoodMotivation }}</span>
    </p>
  </div>

  <div class="w-full">
    <en-button
      buttonName="scan-button"
      [buttonText]="lblButton"
      buttonType="submit"
      [buttonIsDisabled]="false"
      palette="primary"
      [isLoading]="false"
      (customClick)="onResetParticipation()"></en-button>
  </div>

  <div>
    <p class="mt-4 text-center text-slate-300">
      Counter:
      <span class="rounded bg-slate-800 p-1">{{ participationsToScan.length }}/{{ participationsToScanInterval }}</span>
    </p>

    <p class="mt-4 text-center text-slate-300">
      QrCode rimasti:
      <span class="rounded bg-slate-800 p-1">{{ participationsActive.length - participationsToScan.length }}</span>
    </p>
  </div>
</section>
