<section>
  <button
    type="button"
    class="mb-4 w-full rounded-lg border border-gray-600 bg-gray-800 py-2.5 px-5 text-sm font-medium text-gray-400 active:z-10 active:bg-gray-700 active:text-white active:outline-none active:ring-4 active:ring-gray-700">
    <fa-icon [icon]="filterIcon" class="mr-2"></fa-icon>
    FILTRI
  </button>
  <ul [@staggeredFadeInIncrement]="tables.length" class="flex flex-col divide-y divide-gray-700">
    <li *ngFor="let table of tables" class="flex h-20 items-center">
      <div
        class="w-full overflow-hidden rounded-lg bg-gray-800 p-4 font-bold transition duration-150 ease-in-out hover:cursor-pointer active:bg-primary-55 active:text-black"
        (click)="goToTableParticipation(table.uid)">
        <p class="truncate">{{ table.props.name }}</p>
      </div>
    </li>
  </ul>
</section>
