<header [@slidInHeader] class="theme-primary h-14 p-0 sm:h-16 sm:p-2">
  <nav class="flex h-full w-full items-center rounded-b bg-palette p-4 sm:rounded-xl">
    <fa-icon
      [icon]="backIcon"
      class="center cursor-pointer text-2xl text-palette hover:text-paletteHover"
      (click)="goBack()"></fa-icon>
    <p class="w-full px-4 text-center text-2xl font-bold uppercase text-palette">{{ pageTitle }}</p>
  </nav>
</header>
<main [@fadeInMain] class="p-4">
  <router-outlet></router-outlet>
</main>
