<header [@slideInCreateItemHeader] class="theme-primary h-14 p-0 xs:h-16 xs:p-2">
  <nav class="flex h-full w-full items-center rounded-b bg-palette p-4 xs:rounded-xl">
    <fa-icon
      [icon]="backIcon"
      class="center cursor-pointer text-2xl text-palette hover:text-paletteHover"
      (click)="goBack()"></fa-icon>
  </nav>
</header>
<main [@fadeInCreateItemAnimation] class="mx-auto max-w-3xl p-6">
  <section>
    <button
      type="button"
      class="mb-6 w-full rounded-lg border border-gray-200 bg-white py-2.5 px-5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
      <fa-icon [icon]="filterIcon" class="mr-2"></fa-icon>
      FILTRI
    </button>
    <div>{{ personMarked }}/{{ personAssigned }}/{{ maxPerson }}</div>
  </section>
  <ul [@staggeredFadeInIncrement]="evEmArray.length" class="flex flex-col divide-y divide-gray-700 px-2">
    <en-item-event-employee
      *ngFor="let evEm of evEmArray"
      [evEm]="evEm"
      [currentPersonAssigned]="personAssigned"
      [maxPerson]="maxPerson"
      (refreshEvEmArrayEvent)="getData()"></en-item-event-employee>
  </ul>
</main>
