<div *ngIf="event && employee && table && participation && client" class="flex flex-col items-center gap-4">
  <div>Cliente: {{ client.props.name }} {{ client.props.lastName }}</div>
  <div>Evento: {{ event.props.name }}</div>
  <img [src]="event.props.imageUrl" class="aspect-square w-40" />
  <div>Tavolo: {{ table.props.name }}</div>
  <div>Questo è il tuo QrCode bla bla bla .....</div>
  <div>In caso di necessità: {{ employee.props.name }} {{ employee.props.lastName }}, {{ employee.props.phone }}</div>
  <qrcode
    class="hover:cursor-pointer"
    (click)="toggleZoom()"
    [qrdata]="qrdata"
    [width]="240"
    [errorCorrectionLevel]="'H'"
    [margin]="0"
    [imageSrc]="img"
    [imageHeight]="50"
    [imageWidth]="80"></qrcode>
</div>
<div
  *ngIf="zoom"
  class="center absolute top-0 left-0 h-screen w-screen cursor-pointer overflow-hidden bg-gray-400/40 backdrop-blur-xl"
  (click)="toggleZoom()">
  <qrcode
    (click)="toggleZoom()"
    [qrdata]="qrdata"
    [width]="320"
    [errorCorrectionLevel]="'H'"
    [margin]="0"
    [imageSrc]="img"
    [imageHeight]="80"
    [imageWidth]="120"></qrcode>
</div>
