<nav class="p-4">
  <ul [@fadeInCreateItemAnimation] class="flex flex-col gap-6">
    <li
      class="text-lg text-gray-500 hover:cursor-pointer hover:text-gray-300 active:text-gray-800"
      (click)="updatePassword()">
      <fa-icon [icon]="changePasswordIcon" class="mr-4"></fa-icon>
      Cambia password
    </li>
    <li class="text-lg text-gray-500 hover:cursor-pointer hover:text-gray-300 active:text-gray-800" (click)="logOut()">
      <fa-icon [icon]="logOutIcon" class="mr-4"></fa-icon>
      Logout
    </li>
  </ul>
</nav>
