<nav class="p-4">
  <ul [@fadeInCreateItemAnimation] class="flex flex-col gap-4 divide-gray-700">
    <li
      class="rounded bg-slate-900 p-4 text-lg ring-2 ring-slate-700 hover:cursor-pointer active:bg-slate-700"
      (click)="updatePassword()">
      <fa-icon [icon]="changePasswordIcon" class="mr-4"></fa-icon>
      Cambia password
    </li>
    <li
      class="rounded bg-slate-900 p-4 text-lg ring-2 ring-slate-700 hover:cursor-pointer active:bg-slate-700"
      (click)="logOut()">
      <fa-icon [icon]="logOutIcon" class="mr-4"></fa-icon>
      Logout
    </li>
  </ul>
</nav>
