<app-back-bar></app-back-bar>
<form class="flex flex-col items-center gap-4" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <en-input
    [type]="'password'"
    [name]="'new_password'"
    [fieldName]="'Nuova password'"
    [fc]="'newPassword'"
    [required]="true"
    [leftRemPadding]="9"></en-input>

  <en-input
    [type]="'password'"
    [name]="'repeat_new_password'"
    [fieldName]="'Ripetere nuova password'"
    [fc]="'repeatNewPassword'"
    [required]="true"
    [leftRemPadding]="13"></en-input>

  <hr />
  <hr />

  <p class="rounded bg-slate-900 px-8 py-4 text-center text-xs">
    Il cambio della password deve avvenire poco dopo aver effettuato il login.
    <br />
    In caso di non riuscita fare logout e riporvare subito dopo.
  </p>

  <hr />
  <hr />

  <div class="mx-auto w-52">
    <en-button
      buttonName="login-button"
      [buttonText]="lblButton"
      buttonType="submit"
      palette="primary"
      [isLoading]="isLoading"></en-button>
  </div>
</form>
