<app-back-bar></app-back-bar>
<form class="flex flex-col gap-12 xs:gap-16" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div class="relative">
    <div class="flex w-full items-center justify-center">
      <en-file-loader *ngIf="!imageSrc" (loadFileEvent)="loadPhoto($event)"></en-file-loader>
      <div *ngIf="imageSrc" [@fadeInAnimation] class="flex flex-col justify-center gap-4">
        <img
          class="h-40 w-40 rounded-full border object-cover transition duration-1000 ease-in hover:cursor-zoom-out hover:object-scale-down"
          [src]="imageSrc"
          alt="Immagine " />
        <button
          type="button"
          class="inline-block text-xs font-bold uppercase leading-tight text-white transition duration-300 ease-in-out hover:text-primary-60 focus:outline-none focus:ring-0"
          (click)="removePhoto()">
          Rimuovi
        </button>
      </div>
    </div>
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="text"
      name="event_code_input"
      id="event_code_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="code"
      placeholder=" "
      required />
    <label
      for="event_code_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Codice evento
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="text"
      name="name_input"
      id="name_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="name"
      placeholder=" "
      required />
    <label
      for="name_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Nome
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="date"
      id="date_input"
      name="date_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="date"
      placeholder=" "
      required />
    <label
      for="date_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Data
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group z-0 flex w-full gap-8">
    <div class="relative w-1/2">
      <input
        type="time"
        id="start_input"
        name="start_input"
        class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
        formControlName="timeStart"
        placeholder=" "
        required />
      <label
        for="start_input"
        class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
        Inizio
      </label>
      <hr class="border-primary-100 peer-focus:border-primary-60" />
    </div>
    <div class="relative w-1/2">
      <input
        type="time"
        id="end_input"
        name="end_input"
        class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
        formControlName="timeEnd"
        placeholder=" "
        required />
      <label
        for="end_input"
        class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
        Fine
      </label>
      <hr class="border-primary-100 peer-focus:border-primary-60" />
    </div>
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="number"
      pattern="\d*"
      id="max_person_input"
      name="max_person_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="maxPerson"
      placeholder=" "
      required />
    <label
      for="max_person_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Numero massimo di persone
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <label for="place_select" class="block text-sm font-bold text-white group-active:text-primary-60"> Luogo </label>
    <select
      id="place_select"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-sm text-white focus:border-gray-200 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="place">
      <option
        *ngFor="let item of places; let i = index"
        [selected]="i === 0"
        [value]="item"
        class="bg-black py-1 text-primary-60 hover:bg-primary-60 hover:text-black">
        {{ item }}
      </option>
    </select>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <input
      type="text"
      id="guest_input"
      name="guest_input"
      class="peer block w-full appearance-none bg-transparent py-2.5 px-0 text-base text-primary-100 focus:text-primary-60 focus:outline-none focus:ring-0"
      formControlName="guest"
      [min]="currentDate | date: 'yyyy-MM-dd'"
      placeholder=" " />
    <label
      for="guest_input"
      class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-primary-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-60">
      Ospite/i
    </label>
    <hr class="border-primary-100 peer-focus:border-primary-60" />
  </div>

  <div class="group relative z-0 w-full">
    <label
      for="description_textarea"
      class="mb-2 block text-sm font-bold text-white group-focus-within:text-primary-60">
      Descrizione (max 200 caratteri)
    </label>
    <textarea
      id="description_textarea"
      name="description_textarea"
      rows="3"
      maxlength="200"
      class="block w-full resize-none rounded-lg border-2 bg-transparent p-2.5 text-sm text-white focus:border-primary-60 focus:text-primary-60 focus:outline-none"
      formControlName="description"></textarea>
  </div>

  <div class="group relative z-0 w-full">
    <label for="message_textarea" class="mb-2 block text-sm font-bold text-white group-focus-within:text-primary-60">
      Testo messaggio
    </label>
    <textarea
      id="message_textarea"
      name="message_textarea"
      class="block w-full resize-y rounded-lg border-2 bg-transparent p-2.5 text-sm text-white focus:border-primary-60 focus:text-primary-60 focus:outline-none"
      formControlName="message"></textarea>
  </div>

  <div class="mx-auto w-52">
    <en-button
      buttonName="login-button"
      [buttonText]="lblButton"
      buttonType="submit"
      [buttonIsDisabled]="!eventForm.valid"
      palette="primary"
      [isLoading]="isLoading"></en-button>
  </div>
</form>
