<section class="flex h-full flex-col">
  <div class="relative inset-y-px h-[8%]">
    <svg viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="h-full w-full">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(250, 137, 36, 0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(250, 137, 36, 0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(250, 137, 36, 0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(250, 137, 36, 1.0)" />
      </g>
    </svg>
  </div>
  <div class="flex h-[30%] bg-primary-60">
    <form
      class="m-auto flex w-full max-w-2xl flex-col items-center px-8 portrait:space-y-4 landscape:space-y-2"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <en-field
        fieldType="email"
        fieldName="email"
        formControlName="email"
        palette="primary-inverse"
        [filedIcon]="emailIcon"
        fieldPlaceholder="Nome"></en-field>
      <en-field
        [fieldType]="passwordFieldType"
        fieldName="password"
        formControlName="password"
        palette="primary-inverse"
        [filedIcon]="passwordIcon"
        fieldPlaceholder="Password"></en-field>
      <div class="w-40">
        <en-button
          buttonName="login-button"
          buttonText="Entra"
          buttonType="submit"
          [buttonIsDisabled]="!loginForm.valid"
          palette="primary-inverse"
          [isLoading]="isLoading"></en-button>
      </div>
    </form>
  </div>
  <div id="login-support-block" class="relative -inset-y-px h-[62%] bg-primary-60"></div>
</section>
