<section class="h-full flex flex-col">
  <div class="h-[15%]">
    <svg viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="h-full w-full">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255, 138, 8, 0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255, 138, 8, 0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255, 138, 8, 0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255, 138, 8, 1.0)" />
      </g>
    </svg>
  </div>
  <div class="wave__content grow flex flex-col items-center">
    <form class="h-full w-full max-w-3xl p-4 flex flex-col">
      <en-field [icon]="nameIcon" placeholder="Nome"></en-field>
      <en-field [icon]="passwordIcon" placeholder="Password" fieldType="password"></en-field>
      <en-button text="Entra" palette="secondary" (click)="(null)"></en-button>
    </form>
  </div>
</section>
