<section>
  <button
    type="button"
    class="mb-4 w-full rounded-lg border border-gray-600 bg-gray-800 py-2.5 px-5 text-sm font-medium text-gray-400 active:z-10 active:bg-gray-700 active:text-white active:outline-none active:ring-4 active:ring-gray-700">
    <fa-icon [icon]="filterIcon" class="mr-2"></fa-icon>
    FILTRI
  </button>
  <ul [@staggeredFadeInIncrement]="events.length" class="flex flex-col divide-y divide-gray-700">
    <en-item-event *ngFor="let event of events" [event]="event"></en-item-event>
  </ul>
  <div class="theme-primary fixed left-0 bottom-24 right-0 mx-auto flex h-12 max-w-[48rem] justify-end">
    <div [@fadeInAnimation] class="mr-4">
      <button
        type="button"
        class="rounded-full bg-palette py-3 px-3 text-sm font-medium uppercase text-palette shadow-md transition duration-150 ease-in-out active:bg-paletteActive active:shadow-lg"
        (click)="goToCreateEvent()">
        Crea evento
      </button>
    </div>
  </div>
</section>
