<app-back-bar></app-back-bar>
<form
  class="mb-16 flex flex-col gap-12 xs:gap-4"
  [formGroup]="clientNumberForm"
  (ngSubmit)="checkIfClientAlreadyExists()">
  <div class="group relative z-0 mt-8 w-full">
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pr-4 pl-2 text-slate-200">+ 39</div>
    <input
      type="tel"
      pattern="[0-9]{10}"
      name="tel_input"
      id="tel_input"
      class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-4 pl-12 text-sm text-slate-200 placeholder-slate-400 focus:outline-none focus:ring-0"
      formControlName="phone"
      autocomplete="off"
      placeholder="Numero di telefono"
      required />
    <button
      type="submit"
      class="absolute right-2.5 bottom-2.5 rounded-lg bg-primary-60 px-4 py-2 text-sm font-medium text-black hover:bg-white hover:text-primary-50 focus:outline-none">
      Cerca
    </button>
  </div>
</form>

<form *ngIf="phoneIsChecked" class="flex flex-col gap-12 xs:gap-4" [formGroup]="clientInfoForm" (ngSubmit)="onSubmit()">
  <en-input
    [name]="'name'"
    [fieldName]="'Nome'"
    [placeholder]="'Nome nuovo cliente'"
    [fc]="'name'"
    [required]="true"></en-input>

  <en-input
    [name]="'last_name'"
    [fieldName]="'Cognome'"
    [placeholder]="'Cognome nuovo cliente'"
    [fc]="'lastName'"
    [required]="true"
    [leftRemPadding]="5.5"></en-input>

  <div class="mx-auto w-52">
    <en-button
      buttonName="login-button"
      [buttonText]="lblButton"
      buttonType="submit"
      [buttonIsDisabled]="!clientInfoForm.valid || !clientNumberForm.valid"
      palette="primary"
      [isLoading]="isLoading"></en-button>
  </div>
</form>
