<app-back-bar></app-back-bar>
<section>
  <div>
    <button
      type="button"
      class="mb-4 w-full rounded-lg border border-gray-600 bg-gray-800 py-2.5 px-5 text-sm font-medium text-slate-300 active:z-10 active:bg-gray-700 active:text-white active:outline-none active:ring-4 active:ring-gray-700">
      <fa-icon [icon]="filterIcon" class="mr-2"></fa-icon>
      FILTRI
    </button>
  </div>
  <ul [@staggeredFadeInIncrement]="assignmentsAndEmployees.length" class="flex flex-col gap-2 divide-y divide-gray-700">
    <en-item-pr-active *ngFor="let ae of assignmentsAndEmployees" [ae]="ae"></en-item-pr-active>
  </ul>
</section>
